body{
    background-color:white;
    color:rgb(31, 30, 30);
}
header{
    color:white;   
    text-align:left;
    padding: 1%;
    margin:-2%; 
    background:black;
    height:500px;
    background-image:url(turner-logo.png);
    background-size:cover;
    background-position:center; 
}
.img-container img{
    height:400px;
    width:60%;
    padding:30px;
    display:inline-block; 
}
.img-container{
    text-align:center; 
}
h1{
    text-align:center;
    font-size: 100px; 
    letter-spacing: 2px;
    font-family:"Gothic";
}
h4{
    text-align:center;
    color:white;
    font-family:"DotGothic16"
}
h2{
    padding:30px; 
    text-align:center; 
    font-size:50px; 
    border-bottom:3px solid white;
    padding-bottom:5px; 
    margin-bottom: -5px;
    width:max-content;
    margin-inline-start: 50px;
    color:white; 
}
.grid-container{
    display:grid; 
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
    padding: 35px; 
}
.grid-item{
    display:flex;
    flex-direction:column;
    grid-column-start:1; 
    background-color:white;
    border-radius: 10px;
    margin-left:-30px;
    background:linear-gradient(to right, #333434, #0e0e0f00);
}
a{
    text-decoration: none;
    color:black; 
}
a:hover{
    background-color: lightslategray;
}
.flex-container{
    display: flex;
    flex-direction: column;
    margin:-25px; 
}
.articles-container{
    display:flex;
    flex-direction:row;
    gap:60px; 
    padding:40px; 
}
.article{
    background-color:white;
    color:black; 
    border-radius:10px; 
    padding:20px;
}
aside{
    display:flex; 
    flex-direction:column;
    align-items: flex-start;
}
#grid-item-sidebar1{
   grid-column-start: 2;
   grid-row-start:1;
   background-color:white;
   color:white;
   border-radius: 10px;
   width:150px;
   padding:50px;
   background:linear-gradient(to left, #333434, #0e0e0f00);
}
#grid-item-sidebar2{
    grid-column-start: 2;
    grid-row-start:3;
    background-color:white;
    color:white;
    border-radius: 10px;
    width:150px;
    padding:50px;
    background:linear-gradient(to left, #333434, #0e0e0f00);
 }
#grid-item-sidebar3{
    grid-column-start: 2;
    grid-row-start:2;
}
h3{
    margin-top:-5px; 
    border-bottom:2px solid white; 
    padding-bottom: 5px; 
}
ul{
    list-style:none;
    margin-left:-40px; 
}
li{
   margin-bottom:25px;   
}