<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</head>

<body>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h2 class="mb-3" id="userProfileName">User Profile: <span class="text-primary"
                        id="userName">@username</span></h2>
                <!-- List of users they follow -->
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="followingDropdownButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Following
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="followingDropdownButton" id="userFollowingList">
                        <!-- Dynamically added dropdown items will go here -->
                    </ul>
                </div>

                <!-- List of Howls Posted by the User -->
                <div>
                    <h3>User's Howls</h3>
                    <div id="userHowls" class="list-group">
                        <!-- Howls will be inserted here -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="profile.js"></script>
</body>

</html>