body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.calc-grid {
    border: 1px solid #ccc;
    /* border-radius: 5px; */
    width: 400px;
}

.calc-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: whitesmoke;
    /* border-radius: 8px; */
}

.calc-screen {
    width: 85%;
    height: 50%;
    align-items: center;
}

.calc-display {
    width: 100%;
    height: 40px;
    background-color: #d6cdcd;
    color: #fff;
    text-align: right;
    /* padding-right: 20px; */
    /* padding-left: 10px; */
    font-size: 2rem;
    /* border-radius: 8px; */
}

button {
    height: 40px;
    font-size: 0.95em;
    border-radius: 2px;
    padding: 2px;
}

.memory {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}