<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>North Carolina Parks - Error</title>
  <link href="./css/base.css" rel="stylesheet" />
  <link href="./css/error.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="./js/common.js" type="module"></script>
</head>

<body>
  <header>
    <nav>
      <h1><a href="./">North Carolina Parks</a></h1>
    </nav>
    <div class="menu"><label><input type="checkbox"> Dark Mode</label>
      <div id="user"><a href="./login">Log In</a></div>
    </div>
  </header>

  <main>
    <h1>Error. Could not find park.</h1>
  </main>
  <footer id="footer">
    Copyright (c) 2017 <a href="./"><strong>NC Parks</strong></a> All Rights Reserved.
  </footer>

</body>

</html>