<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>North Carolina Parks - Index</title>
  <link href="./css/base.css" rel="stylesheet" />
  <link href="./css/home.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="./js/common.js" type="module"></script>
  <script src="./js/home.js" type="module"></script>
</head>

<body>
  <header>
    <nav>
      <h1><a href="./">North Carolina Parks</a></h1>
    </nav>
    <div class="menu">
      <label><input type="checkbox"> Dark Mode</label><br>
      <div id="user"><a href="./login">Log In</a></div>
    </div>
  </header>

  <main id="maincontent">
    <div id="map"><img src="/img/ncparkmap.png"></div>
    <section>
      <div class="filter-options">
        <h2>Filter Results</h2>
        <select id="counties-select" name="county">
          <option value="all">All Counties</option>
        </select>
      </div>
      <div id="parks-list"></div>
    </section>
  </main>

  <footer>
    Copyright (c) 2017 <a href="/"><strong>Park Reviews</strong></a> All Rights Reserved.
  </footer>
</body>

</html>